.btn-blue{
    padding:6px;
    border: none;
    display: inline-block;
    border-radius: 3px;
    margin: 4px 2px;
    background-color: #3498DB;
    color: white;
}
.btn-orange{
    padding:6px;
    border: none;
    display: inline-block;
    border-radius: 3px;
    margin: 4px 2px;
    background-color: orange;
    color: white;
}